{% extends 'layout.html' %}
{% load static %}
{% block information %}
    <div class="container" style="width: 100%; height: 100vh; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
        <div class="row">
            <!-- Left Section with text and button -->
            <div class="col-md-6">
                <h1 style="font-size: 3.5rem; font-weight: bold;">Welcome to Apartment Mediation</h1>
                <p style="font-size: 1.2rem; margin-top: 20px; color: #333;">
                   Our website helps you buy or sell apartments easily.
                    We have great promotions and great deals, all in one place!</p>
                <a href="{% url 'apartments' %}">
                    <button style="padding: 15px 25px; background-color: #78917b; color: white; border: none; font-size: 1.5rem; border-radius: 10px; cursor: pointer; margin-top: 20px;">
                        Show all apartments
                    </button>
                </a>
            </div>

            <!-- Right Section with large image -->
            <div class="col-md-6">
                <img src="/media/images/12.jpg" alt="Apartment 1" style="width: 100%; height: auto; border-radius: 10px;">
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <img src="/media/images/13.jpg" alt="Apartment 2" style="width: 100%; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
            </div>
            <div class="col-md-4">
                <img src="/media/images/17.jpg" alt="Apartment 3" style="width: 100%; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
            </div>
            <div class="col-md-4">
                <img src="/media/images/16.jpg" alt="Apartment 4" style="width: 100%; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
            </div>
        </div>
    </div>
{% endblock %}
